<div class="lucky">
  <p>
    {{quotes.description}}
  </p>
  <span><button (click)=likebuttonclick() class="btn btn-success">like<i class="fa fa-thumbs-up" aria-hidden="true"></i></button></span>
  <span>{{numberoflikes}}</span>
  <span><button (click)=dislikebuttonclick() class="btn btn-danger">dislike<i class="fa fa-thumbs-down" aria-hidden="true"></i></button></span>
  <span>{{numberofdislikes}}</span><br><br>
  <button (click)= 'quoteDelete(true)' class="btn btn-outline-danger" ><i class="fa fa-eraser" aria-hidden="true"></i>Delete Quote</button>
  <p>This quote will be complete in {{quotes.completeDate|dateCount}} days</p>
</div>